<!--header-->
    <app-header></app-header>
<!-- <table>
    <thread>

<tr>

<th><app-medium-prioritygraph></app-medium-prioritygraph></th>
<th><app-highprioritygraph></app-highprioritygraph></th>
<th><app-lowprioritygraph></app-lowprioritygraph></th>


</tr>


    </thread>
</table> -->
<div class='chart'>
        <app-highprioritygraph></app-highprioritygraph>
        <app-medium-prioritygraph></app-medium-prioritygraph> 
        <app-lowprioritygraph></app-lowprioritygraph>
    


</div>
<!-- <div class="container">
    
    <app-pririty></app-pririty>
</div> -->
<router-outlet></router-outlet>



<!-- <app-highprioritygraph></app-highprioritygraph>
<app-medium-prioritygraph></app-medium-prioritygraph> 
<app-lowprioritygraph></app-lowprioritygraph> -->

