<div class="col-md-12">
    <h2> Low Priority List</h2>
    <table class="table table-striped table-bordered">
      <thead >
      <tr>
        <th class="hidden">Priority_Id</th>
        <th>Trip_Id</th>
        <th>Issue</th>
        <th>Type Of Issue</th>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lowprioritylist of lowprioritylist.data">
          <td >{{lowprioritylist.priority_Id}}</td>
          <td >{{lowprioritylist.trip_Id}}</td>
          <td>{{lowprioritylist.issues}}</td>
          <td>{{lowprioritylist.issueType}}</td>
          <td>{{lowprioritylist.description}}</td>
          <td>{{lowprioritylist.status}}</td>
          <td><button class="btn btn-danger"(click)="getPrioritys(lowprioritylist)"> View Details</button></td>
         </tr>

      </tbody>
    </table>
    </div>
  
  
<router-outlet></router-outlet>
