<div class="col-md-12">
    <h2> High Priority List</h2>
    <table class="table table-striped table-bordered">
      <thead >
      <tr>
        <th>Priority_Id</th>
        <th>Trip_Id</th>
        <th>Issue</th>
        <th>Type Of Issue</th>
        <th>Description</th>
        <th>Status</th> 
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
       <tr *ngFor="let highprioritylist of highprioritylist.data">
          <td >{{highprioritylist.priority_Id}}</td>
        <td >{{highprioritylist.trip_Id}}</td>
        <td>{{highprioritylist.issues}}</td>
        <td>{{highprioritylist.issueType}}</td>
        <td>{{highprioritylist.description}}</td>
        <td>{{highprioritylist.status}}</td>
        <td><button class="btn btn-danger"(click)="getPrioritys(highprioritylist)"> View Details</button></td>
      </tr>

      </tbody>
    </table>
    </div>
  
  
<router-outlet></router-outlet>
